*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
:root{
  --col-p-1:#854D27;
  --col-p-2:#DD7230;
  --col-p-3:#F4C95D;
  --col-p-4:#E7E393;
  --col-black:#000;
  --col-black-light: #333;
  --col-white:#fff;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  color: var(--col-black-light);
}
.hidden{
  display: none!important;
  opacity: 0;
}
/* typographies*/
.heading-center{
  text-align: center;
}
.u-marg-bottom-medium{
  margin-bottom: 8rem;
}
.tertiary-heading{
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  /* background-image: linear-gradient(to top left, var(--col-p-1), var(--col-p-2)); */
  background-image: url(./Assets/Images/mainbg.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text{
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  line-height: 2;
  /* font-weight: 500; */
}

@media only screen and (max-width: 650px){
  .tertiary-heading{
    font-size: 2rem;
  }
}
.top-header-container{
  display: flex;
  align-items: center;
  padding: .3rem 2rem;
  background-color: var(--col-p-2);
}
.title{
  color: var(--col-white);
  font-size: 3.5rem;
  margin-right: auto;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.join{
  display: flex;
  align-items: center;
}
.join>*:not(:last-child){
  margin-right: 2rem;
}
.join__button--btn, .join__button--btn:visited, .join__button--btn:link{
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--col-white);
  padding: 1rem 1.5rem;
  box-shadow: 0 0 3px;
  border-radius: 100px;
  transition: all .3s ease;
}
.join__button--btn:hover{
  background-color: var(--col-p-1);
}
.join__button--btn:active{
  transform: translateY(2px);
}
@media only screen and (max-width: 625px){
  .top-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem 2rem;
    background-color: var(--col-p-2);
    justify-content: center;
    padding-bottom: 2rem;
  }
  .title{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 320px){
  .join__button--btn, .join__button--btn:visited, .join__button--btn:link{
    font-size: 1.1rem;
  }
}

/* navigation of the website */
.nav-container{
  position: relative;
}
.navigation-button{
  display: flex;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: none;
}
.navigation-button__button{
  display: inherit;
  width: 80%;
  height: 5px;
  background-color: var(--col-black);
  position: relative;
}
.navigation-button__button::before, .navigation-button__button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--col-black);
}
.navigation-button__button::before{
  top: 8px;
}
.navigation-button__button::after{
  top: -8px;
}
.nav{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-p-3);
  transition: all .5s ease;
}
.nav__list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav__list>*:not(:last-child){
  margin-right: 2rem;
}
.nav__item{
  padding: .5rem 1.5rem;
  box-shadow: 0 0 2px;
  border-radius: 1px;
  transition: all .4s ease-in-out;
}
.nav__item:hover{
  box-shadow: 0 0 5px;
  transform: rotate(3deg);
}
.nav__item--link{
  text-decoration: none;
  letter-spacing: 1.4px;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--col-white);
}
@media only screen and (max-width: 820px){
  .nav__item--link{
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--col-white);
  }
}
/* this is where the button is supposed to be hidden */
@media only screen and (max-width: 700px){
  .navigation-button{
    display: block;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
  }
  .nav__list >*:not(:last-child){
    margin-bottom: 1rem;
  }
}

/* home section of the website */
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .4)),url(./Assets/Images/salad-bg.jpg);
  background-position: center;
  background-size: cover;
}
.home__title{
  color: var(--col-white);
}
.home__title--main{
  display: block;
  font-size: 7rem;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: 2px;
}
.home__title--sub{
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}
.home__hunger--text{
  font-size: 2rem;
  color: var(--col-white);
  padding: 1rem;
  border-top: 1px solid white;
}
.home__hunger--button, .home__hunger--button:link, .home__hunger--button:visited{
  color: var(--col-white);
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--col-p-2);
  border-radius: 5px;
  transition: all .3s;
}
.home__hunger--button:hover{
  background-color: var(--col-p-1);
}
@media only screen and (max-width: 830px){
  .home__title--main{
    font-size: 6rem;
  }
}
@media only screen and (max-width: 720px){
  .home__title--main{
    font-size: 5rem;
  }
}
@media only screen and (max-width: 605px){
  .home__title--main{
    font-size: 4rem;
  }
}
@media only screen and (max-width: 490px){
  .home__title--main{
    font-size: 3rem;
  }
  .home__hunger--text{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 360px){
  .home__title--main{
    font-size: 3rem;
    text-align: center;
  }
  .home__hunger--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* the social section of the webpage */
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 5rem;
}


/* the about section of the website */
.about{
  padding: 2rem;
}
.about__container{
  background-color: #f0f0f0;
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__text{
  padding: 1rem;
  text-align: justify;
  padding-right: 4rem;
}
@media only screen and (max-width: 930px){
  .about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 450px){
  .about__image--img{
    width: 90%;
    height: 90%;
    margin: auto;
  }
}

/* styling the meals section of the webpage */
/* .meals{
  height: 90vh;
  max-height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(./Assets/Images/plateFood.png);
  background-position: center;
  background-size: cover;
} */
.meal-card{
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 3px;
}
.meal-card__discount{
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--col-black);
  color: var(--col-white);
  font-size: 2rem;
  padding: 2rem;
  width: 10rem;
  height: 10rem;
  text-transform: uppercase;
  font-weight: 800;
  transform: rotate(-15deg);
  cursor: pointer;
  transition: all .3s;
}
.meal-card__discount:hover{
  transform: rotate(0);
}
.meal-card__discount--value{
  font-style: oblique;
}
.meals__container{
  max-width: 1300px;
  /* background-color: #f0f0f0; */
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 3rem;
}
@media screen and (max-width: 700px){
  .meals__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.meal-card__image{
  --height: 300px;
  width: 100%;
  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal-card__image--img{
  width: 30rem;
  margin: auto;
}

.meal-card__description--title{
  padding: 1rem;
  font-size: 3rem;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.meal-card__description--description{
  padding: 0 2rem;
  text-align: justify;
  font-size: 1.6rem;
}
.meal-card__button{
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}
.meal-card__button--btn, .meal-card__button--btn:visited, .meal-card__button--btn:link{
  display: inline-block;
  font-size: 2rem;
  color: var(--col-white);
  background-color: var(--col-p-3);
  padding: .8rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3px;
  transition: all .4s;
}
.meal-card__button--btn:hover{
  transform: scaleX(1.2);
}
.all-meals__button{
  padding: 2rem;
  text-align: center;
}
.all-meals__button--btn, .all-meals__button--btn:visited, .all-meals__button--btn:link{
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 1.7px;
  background-color: var(--col-p-2);
  border-radius: 5px;
  color: var(--col-white);
  transition: all .3s ease;
}
.all-meals__button--btn:hover{
  transform: scale(1.2);
}
.order{
  max-width: 1200px;
  margin: auto;
  margin-bottom: 4rem;
}
.order__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background-color: #f0f0f0;
  margin: 1rem auto;
}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  /* background-color: var(--col-black); */
}
.form{
  width: 90%;
}
.form__group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}
.form__group:not(:last-of-type){
  margin-bottom: 3rem;
}
.form__group>*:not(:last-child){
  margin-bottom: 1.5rem;
}
.form__group--label{
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 1.8px;
  font-weight: 700;
}
.form__group--input{
  font-size: 1.8rem;
  letter-spacing: 1.8px;
  color: var(--col-black-light);
  padding: 1rem 1.5rem;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px;
  height: 4rem;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: all .3s ease;
}
.form__group--input:focus{
  border-bottom: 3px solid var(--col-p-2);
}
.form__group--btn, .form__group--btn:visited, .form__group--btn:link{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--col-white);
  letter-spacing: 1.8px;
  background-color: var(--col-p-2);
  padding: 1rem 1.5rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all .3s;
}
.form__group--btn:hover{
  background-color: var(--col-p-1);
}
.form__group--btn:active{
  transform: translateY(1px);
}
.side{
  position: relative;
}
.side__video{
  /* position: absolute;
  right: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* @media (min-aspect-ratio: 16/9){
  .side__video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .side__video{
    width: auto;
    height: 100%;
  }
} */
.side__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}
.side__text{
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--col-white);
  text-transform: capitalize;
  letter-spacing: 1.8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 980px) {
  .side__text{
    font-size: 2rem;
  }
  .order__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .side__text{
    font-size: 1.8rem;
  }
  .form__group{
    width: 100%;
  }
}

.testimonials{
  margin-bottom: 4rem;
}
.testimonials__container{
  max-width: 1000px;
  margin: 1rem auto;
}
.testimonial{
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: skewX(-15deg); */
  box-shadow: 0 0 4px;
  /* overflow: hidden; */
  border-radius: 5px;
  transition: all .5s;
  position: relative;
  border: 3px solid var(--col-black);
}
.testimonial:hover{
  box-shadow: 0 0 10px;
}
.testimonial__image-floated{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
  border-radius: 50%;
}
.testimonial__image--floated{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonial>*:not(:last-child){
  margin-right: 2rem;
}
.testimonial__image--img{
  --width-height:12rem;
  width: var(--width-height);
  height: var(--width-height);
  border-radius: 50%;
}
.testimonial__main--text{
  text-align: justify;
  font-weight: 500;
  line-height: 1.8;
  /* border-bottom: 1px solid var(--col-black);
  padding-bottom: 1rem; */
}
.testimonial__name{
  font-size: 2rem;
  font-weight: 300;
  background-color: var(--col-black);
  color: var(--col-white);
  text-align: center;
  text-transform: capitalize;
}
.testimonial__details{
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-left: 0;

  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: capitalize;
}
.testimonial__details>*:not(:last-child){
  margin-right: auto;
}
@media  screen and (max-width: 600px) {
  .testimonial{
    width: 98%;
  }
  .testimonial__details{
    width: 100%;
  }
}
@media  screen and (max-width: 400px) {
  .testimonial{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .testimonial>*:not(:last-child){
    margin-bottom: 2rem;
  }
  .testimonial__details{
    width: 100%;
  }
}